<% content_for :title, "アカウント詳細ページ" %>
<h1>アカウント詳細ページ</h1>
<p>名前： <%= @user.name %></p>
<p>メールアドレス: <%= @user.email %></p>
<%= link_to "編集", edit_user_path(@user), id:"destroy-user" %>
<%= link_to "削除", @user, method: :delete, data: { confirm: t('common.confirm_destroy') }, id:"edit-user" %>
